# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(import.meta.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=sqlite:///test.db
FLASK_APP_KEY="any key works"
FLASK_APP=src/back/app.py
FLASK_DEBUG=1
DEBUG=TRUE
JWT_SECRET_KEY=soundstagram_secret_jwt_key
VITE_CLOUDINARY_CLOUD_NAME=dqgfqxjdv
VITE_CLOUDINARY_UPLOAD_PRESET=soundstagram_unsigned_profile_pics
# Front-End Variables
VITE_BASENAME=/
#VITE_BACKEND_URL=

#npm install axios
#npm install react-toastify
#npm install wavesurfer.js
#npm install wav-encoder
#npm install wavesurfer-multitrack
#npm install tone