.filter_checkbox {
  box-shadow:1px 1px 1px 1px black;
  border-top: 1px solid var(--accent);
  border-radius: 10px;
  padding: 7px;
  margin-top: 5px;
  cursor: pointer;
  text-shadow: 0px 0px 0px transparent;
  transition: 1s ease;
}

.filter_checkbox:hover{
  font-size: 90%;
  transition: 1s ease;
  border-top: 1px solid var(--color-3);
}

.input-box-feed:checked + .inside-button{
  color: var(--color-2);
}


.filter_btn {
  padding: 0.3rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter_btn.apply {
    border: 0px;
    border-top: 1px solid var(--accent);
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 5px;
    background: var(--bg-color);
    background-size: 300%, 300%;
    animation: gradient-shift 3s ease infinite;
    transition: 1s ease;
    color: white;
    cursor: pointer;
    height: 40px;
}

.filter_btn.apply:active {
    border: 1px solid var(--color-3);
    border-radius: 5px;
    background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
}
.filter_btn.apply:hover {
    border: 1px solid var(--color-3);
    border-radius: 5px;
    background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
    transition: 1s ease;
    font-size: large;
    cursor: pointer;
}


.filter_btn.reset {
    border: 0px;
    border-top: 1px solid var(--accent);
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 5px;
    background: var(--bg-color);
    background-size: 300%, 300%;
    animation: gradient-shift 3s ease infinite;
    transition: 1s ease;
    color: white;
    cursor: pointer;
    height: 40px;
}

.filter_btn.reset:active {
    border: 1px solid var(--color-5);
    border-radius: 5px;
    background: linear-gradient(270deg, var(--color-4), var(--color-5), var(--color-4));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
}
.filter_btn.reset:hover {
    border: 1px solid var(--color-5);
    border-radius: 5px;
    background: linear-gradient(270deg, var(--color-5), var(--color-4), var(--color-5));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
    transition: 1s ease;
    font-size: large;
    cursor: pointer;
}

.filter_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2%;
  text-shadow: 0px 0px 0px transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px black inset;
}