.header-feed{
    background: linear-gradient(270deg, var(--color-1),  var(--color-2), var(--color-1));
    background-size: 200%, 200%;
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: gradient-shift 5s infinite, fadeIn 4s 1s forwards, slidebackwards 2s 1s forwards;
}