.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 1030;
    box-shadow: 10px 10px 30px rgb(14, 14, 14);
    animation: moveinbottom 2.5s 3s forwards;
    background-color: var(--bg-color);
    transform: translate(0px, 500px);
}

.footer .foot-list {
background: linear-gradient(90deg, var(--color-1), var(--color-2), var(--color-1));
background-clip: text;
background-size: 200%, 200%;
transition: 1s ease;
color: transparent;
animation: gradient-shift 5s infinite linear;
margin-bottom: 0;
&:hover{
background: linear-gradient(90deg, var(--color-2), var(--color-1), var(--color-2));
transition: 1s ease;
background-clip: text;
background-size: 200%, 200%;
color: transparent;
animation: gradient-shift 5s infinite linear;
font-size: x-large;
}
}

.footer .team {
  font-size: 1.7rem;
background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
background-clip: text;
background-size: 200%, 200%;
transition: 1s ease;
color: transparent;
animation: gradient-shift 5s infinite linear;
pointer-events: none;
user-select: none;
bottom: 0;
}

/* Keyframes */

@keyframes moveinbottom {
  0% { transform: translate(0px, 500px);}
  50% { transform: translate(0px, 50px);}
  75% { transform: translate(0px, 20px);}
  100% { transform: translate(0, 0);}
}