
.welcome::before{
    content:"Welcome";
    animation: gradient-shift 15s infinite, fadeIn 2s forwards, presentation 4s forwards, fadeOut 2s 6s forwards, refadein 2s 9s forwards; 
    background: linear-gradient(270deg, var(--color-1),  var(--color-2), var(--color-1));
    background-size: 200%, 200%;
    background-clip: text;
    color: transparent;
    pointer-events: none;
    user-select: none;
}

.welcome{
    font-size: clamp(3em, 5vw, 5vw);
}

.slogan {
    animation: gradient-shift 5s infinite, fadeIn 4s 8s forwards, slidewaves 7s 8s forwards;
    background: linear-gradient(270deg, var(--color-1),  var(--color-2), var(--color-1));
    background-size: 200%, 200%;
    background-clip: text;
    height: clamp(150px, 3.25rem, 3.25vw);
    color: transparent;
    opacity: 0;
    font-size: clamp(2.5rem, 3.25rem, 3.25vw);
    pointer-events: none;
    user-select: none;
}
.slogan::after{
    content:"";
    background: linear-gradient(270deg, var(--color-1),  var(--color-2), var(--color-1));
    background-size: 200%, 200%;
    height: 1%;
    width: 90%;
    display: block;
    position: absolute;
    animation: slideline 4s 9s forwards, gradient-shift 5s infinite;
    visibility: hidden;
}

/* Form */

.form {
    border-radius: 10px;
    animation: glow 5s ease alternate infinite, fadeIn 2s 6s forwards, slideform ease 2s 6s forwards;
    opacity: 0;
    background: var(--bg-color);
}

.form .form-text{
    background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
    animation: gradient-shift 5s infinite;
}

.form .textinput{
    border: 1px solid var(--color-3);
    border-radius: 5px;
    height: 2.5rem;
    padding: 3%;
}

.form-check-input{
    border: 1px solid var(--color-3);
}

.form .btn{
    border: 0px;
    border-radius: 5px;
    background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
    background-size: 300%, 300%;
    animation: gradient-shift 3s ease infinite;
    transition: 1s ease;
    color: var(--bg-color);
}
.form .btn:active {
    border: 1px solid var(--color-3);
    border-radius: 5px;
    background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
}
.form .btn:hover {
    transition: 1s ease;
    font-size: x-large;
}

.newuser{
    opacity:0;
    background: var(--bg-color);
    animation: fadeIn 2s 10s forwards, slidewaves 3s 10s forwards;
    border-radius: 15px;
}
.newuser:hover{
    background: var(--bg-color);
    border: 1px solid var(--color-3);
}

.newuser-btn {
    opacity: 0;
    font-size: clamp(1.5rem, 2.5rem, 2.5rem);
    background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
    transition: 1s ease-in-out;
    animation: gradient-shift 10s ease infinite, fadeIn 2s 10s forwards, slidewaves 3s 10s forwards;
}
.newuser-btn:hover{
    font-size: clamp(1.8rem, 2.65rem, 2.65rem);
    transition: 1s ease-in-out;
    background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
}
.newuser-btn:active{
    border: 1px solid var(--color-3);
    border-radius: 5px;
    background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
}


/* Keyframes */

@keyframes glow {
    0% { box-shadow: 10px -10px 35px var(--color-1);}
    25% { box-shadow: -10px -10px 35px var(--color-3);}
    50% { box-shadow: -10px 10px 35px var(--color-2);}
    75% { box-shadow: 10px 10px 35px var(--color-3);}
    100% { box-shadow: 10px -10px 35px var(--color-1);}
        }
        
@keyframes slidewaves {
  0%{ transform: translateX(150%);}
  50% { transform: translateY(15%);}
  100% { transform: translateX(0%);}
}

@keyframes slideline {
  0%{ transform: translateX(150%);}
  25%{ transform: translateX(-450%); visibility: visible;}
  50%{ transform: translateX(150%); visibility: visible;}
  75%{ transform: translateY(15%); visibility: visible;}
  100%{ transform: translateX(0%); visibility: visible;}
}

@keyframes slideform {
  0%{ transform: translateX(50%);}
  50%{ transform: translateX(-10%);}
  100% { transform: translateX(0%);}
}

@keyframes presentation {
    0%{ transform: translateY(50%); font-size: 200%;}
    50%{ transform: translateY(50%); font-size: 200%;}
    100% { transform: translateY(-27.5%);}
}

@keyframes refadein {
    from{opacity: 0; content:'What are we doing today?';}
    to{opacity:1; content:'What are we doing today?';}
}

@keyframes fadeOut {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
