@tailwind base;
@tailwind components;
@tailwind utilities;

/* All pages */

body {
    background-color: rgb(33, 37, 41);
    font-family: "Rubik", sans-serif;
}

/* navbar styles */

.navbar{
    animation: moveintop 2.5s 3s forwards;
    transform: translate(0px, -500px);
}

.navbar img {
transition: 1s ease;
height: 45px;
width: 50px;
&:hover{
 transition: 1s ease;
 height: 55px;
 width: 65px;
}
}

.navbar p{
background: linear-gradient(90deg, rgb(0, 255, 136), rgb(13, 202, 240));
background-clip: text;
background-size: 200%, 200%;
transition: 1s ease;
color: transparent;
animation: gradient-shift 5s infinite linear;
&:hover{
background: linear-gradient(90deg, rgb(13, 202, 240), rgb(0, 255, 136));
transition: 1.5s ease;
background-clip: text;
background-size: 200%, 200%;
color: transparent;
animation: gradient-shift 5s infinite linear;
font-size: x-large;
}
}

.actions svg{
background-image: linear-gradient(90deg, rgb(13, 202, 240), rgb(0, 255, 136));
color: rgb(33, 37, 41);
background-size: 200%, 200%;
font-size: 25px;
transition: 1s;
animation: gradient-shift 5s infinite linear;
}
.actions svg:hover{
font-size: 35px;
background-size: 200%, 200%;
transition: 1s;
animation: gradient-shift 5s infinite linear;
}

.profile{
    position: relative;
}

.dropdown-menu{
    position: absolute;
  z-index: 1000 !important;
  pointer-events: none;
}

.dropdown-menu , .profile {
  pointer-events: all;
  border: 1px solid rgba(0,0,0,0);
  z-index: 1000;
}

.profile:hover .dropdown-menu, 
.profile .dropdown-menu:hover{
  animation: slideleft 2s forwards;
  pointer-events: all;
}

.profile:not(:hover):not(.dropdown-menu:hover) .dropdown-menu {
  animation: slideright 2s forwards;
}

.dropdown-menu .dropdown-item{
background: linear-gradient(90deg, rgb(0, 255, 136), rgb(13, 202, 240));
background-clip: text;
background-size: 200%, 200%;
transition: 1s ease;
color: transparent;
animation: gradient-shift 5s infinite linear;
&:hover{
background: linear-gradient(90deg, rgb(13, 202, 240), rgb(0, 255, 136));
transition: 1.5s ease;
background-clip: text;
background-size: 200%, 200%;
color: transparent;
animation: gradient-shift 5s infinite linear;
font-size: large;
}
}

/* Loader */

    .loader {
        width: 50%;
        height: 500px;
        animation: slideloader 4s forwards, fadeIn 2s forwards;
        opacity: 0;
    }

    .line {
        width: 23px;
        transition: height 0.5s ease;
        border-radius: 5px;
        bottom: 0;
        background: linear-gradient(180deg, rgb(13, 202, 240),  rgb(0, 255, 136));
        background-size: 200%, 200%;
    }
   
    .line:hover {
    animation: shrink-line 0.2s ease forwards;
    }

    .line1 {
        animation: line-grow 1s ease alternate infinite, gradient-shift-ver 1s infinite linear;
    }
    .line2 {
        animation: line-grow 1s 0.2s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line3 {
        animation: line-grow 1s 0.4s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line4 {
        animation: line-grow 1s 0.6s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line5 {
        animation: line-grow 1s 0.8s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line6 {
        animation: line-grow 1s 1s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line7 {
        animation: line-grow 1s 1.2s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line8 {
        animation: line-grow 1s 1.4s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line9 {
        animation: line-grow 1s 1.2s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line10 {
        animation: line-grow 1s 1s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line11 {
        animation: line-grow 1s 0.8s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line12 {
        animation: line-grow 1s 0.6s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line13 {
        animation: line-grow 1s 0.4s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line14 {
        animation: line-grow 1s 0.2s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line15 {
        animation: line-grow 1s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line16 {
        animation: line-grow 1s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line17 {
        animation: line-grow 1s 0.2s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line18 {
        animation: line-grow 1s 0.4s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line19 {
        animation: line-grow 1s 0.6s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line20 {
        animation: line-grow 1s 0.8s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line21 {
        animation: line-grow 1s 1s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line22 {
        animation: line-grow 1s 1.2s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line23 {
        animation: line-grow 1s 1.4s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line24 {
        animation: line-grow 1s 1.2s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line25 {
        animation: line-grow 1s 1s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line26 {
        animation: line-grow 1s 0.8s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line27 {
        animation: line-grow 1s 0.6s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line28 {
        animation: line-grow 1s 0.4s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line29 {
        animation: line-grow 1s 0.2s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }
    .line30 {
        animation: line-grow 1s ease alternate infinite, gradient-shift-ver 1s infinite linear;

    }

/* Home */

h1 {
    font-size: 5rem;
    font-family: "Rubik", sans-serif;
    animation: gradient-shift 5s infinite, fadeIn 2s forwards, presentation 4s forwards;
    background: linear-gradient(270deg, rgb(13, 202, 240),  rgb(0, 255, 136));
    background-size: 200%, 200%;
    background-clip: text;
    color: transparent;
    z-index: -1 !important;
    position: relative;
}

h2 {
    animation: gradient-shift 5s infinite, fadeIn 4s 8s forwards, slidewaves 7s 8s forwards;
    background: linear-gradient(270deg, rgb(13, 202, 240),  rgb(0, 255, 136));
    background-size: 200%, 200%;
    background-clip: text;
    color: transparent;
    overflow: hidden;
    opacity: 0;
}
h2::after{
    content:"";
    background: linear-gradient(270deg, rgb(13, 202, 240),  rgb(0, 255, 136));
    background-size: 200%, 200%;
    height: 4px;
    width: 100%;
    position: absolute;
    margin-left: 40px;
    bottom: -2px;
    left: 950px;
    opacity: 0;
    overflow: hidden;
    animation: slidewaves 7s 10s forwards, fadeIn 4s 10s forwards, gradient-shift 5s infinite;
}

/* Form */

.form {
    border-radius: 10px;
    animation: glow 5s ease alternate infinite, fadeIn 2s 6s forwards, slideform ease-in-out 2s 6s forwards;
    opacity: 0;
    margin-left: 50px;
}

.form p{
background: linear-gradient(270deg, rgb(0, 255, 136), rgb(13, 202, 240));
background-clip: text;
background-size: 200%, 200%;
color: transparent;
animation: gradient-shift 5s infinite;
}


.form input{
    border: 1px solid rgb(0, 247, 255);
    border-radius: 5px;
}

.form .btn{
    border: 1px solid rgb(0, 247, 255);
    border-radius: 5px;
    background: linear-gradient(270deg, rgb(0, 255, 136), rgb(13, 202, 240));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
}
.btn:active {
    border: 0px;
    border-radius: 5px;
    background: linear-gradient(270deg, rgb(0, 255, 136), rgb(13, 202, 240));
    animation: gradient-shift ease infinite;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 10px 10px 30px rgb(14, 14, 14);
    animation: moveinbottom 2.5s 3s forwards;
    background-color: rgb(33, 37, 41);
    transform: translate(0px, 500px);
}

.footer p {
background: linear-gradient(90deg, rgb(0, 255, 136), rgb(13, 202, 240));
background-clip: text;
background-size: 200%, 200%;
transition: 1s ease;
color: transparent;
animation: gradient-shift 5s infinite linear;
margin-bottom: 0;
&:hover{
background: linear-gradient(90deg, rgb(13, 202, 240), rgb(0, 255, 136));
transition: 1s ease;
background-clip: text;
background-size: 200%, 200%;
color: transparent;
animation: gradient-shift 5s infinite linear;
font-size: x-large;
}
}

.footer h3 {
background: linear-gradient(90deg, rgb(0, 255, 136), rgb(13, 202, 240));
background-clip: text;
background-size: 200%, 200%;
transition: 1s ease;
color: transparent;
animation: gradient-shift 5s infinite linear;
}

.footer svg{
background-image: linear-gradient(90deg, rgb(13, 202, 240), rgb(0, 255, 136));
color: rgb(33, 37, 41);
background-size: 200%, 200%;
font-size: 25px;
transition: 1s;
animation: gradient-shift 5s infinite linear;
}
.footer svg:hover{
font-size: 35px;
background-size: 200%, 200%;
transition: 1s;
animation: gradient-shift 5s infinite linear;
}


    /* ----------------     KEYFRAMES    ----------------- */

@keyframes moveintop {
  0% { transform: translate(0px, -500px);}
  50% { transform: translate(0px, -50px);}
  75% { transform: translate(0px, -20px);}
  100% { transform: translate(0, 0);}
}

@keyframes moveinbottom {
  0% { transform: translate(0px, 500px);}
  50% { transform: translate(0px, 50px);}
75% { transform: translate(0px, 20px);}
  100% { transform: translate(0, 0);}
}

@keyframes glow {
    0% { box-shadow: 10px -10px 35px rgb(0, 255, 255);}
    25% { box-shadow: -10px -10px 35px rgb(0, 255, 191);}
    50% { box-shadow: -10px 10px 35px rgb(0, 255, 136);}
    75% { box-shadow: 10px 10px 35px rgb(0, 255, 191);}
    100% { box-shadow: 10px -10px 35px rgb(0, 255, 255);}
        }

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
        }

@keyframes shrink-line {
  from { height: 80%;}
  to { height: 100px;}
}

@keyframes line-grow {
    0% { height: 15px;}
    100% { height: 80%;}
    }

@keyframes gradient-shift-ver{
    0% { background-position: 50% 0%;}  
    50% { background-position: 50% 100%;}
    100% { background-position: 100% 0%;}
}

@keyframes gradient-shift{
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0% 100%;}
}

@keyframes slidewaves {
  0%{ transform: translateX(150%);}
  50% { transform: translateY(15%);}
  100% { transform: translateX(0%);}
}

@keyframes slideleft {
  from { transform: translateX(150%);}
  to { transform: translateX(20%);}
}

@keyframes slideright {
  from { transform: translateX(20%);}
  to { transform: translateX(150%);}
}

@keyframes slideloader {
  0%{ transform: translateX(50%);}
  50%{ transform: translateX(50%);}
  100% { transform: translateX(0%);}
}

@keyframes slideform {
  0%{ transform: translateX(50%);}
  50%{transform: translateX(-10%);}
  100% { transform: translateX(0%);}
}

@keyframes presentation {
    0%{ transform: translateY(50%);font-size: 200px;}
    50%{transform: translateY(50%);font-size: 200px;}
    100% { transform: translateY(0%);}
}