@tailwind base;
@tailwind components;
@tailwind utilities;

/* All pages */
:root{
--bs-body-font-family: "Rubik", sans-serif !important;
}

body {
    background-color: rgb(33, 37, 41);
    font-family: "Rubik", sans-serif;
}

html, body {
height: 100%;
margin: 0;
overflow: auto;
  scrollbar-color: rgb(0, 255, 191) transparent;
  scrollbar-width: thin;
}

/* ----------------     KEYFRAMES    ----------------- */

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
        }

@keyframes gradient-shift{
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0% 100%;}
}