    .loader {
        width: 50%;
        height: 500px;
        animation: slideloader 4s forwards, fadeIn 2s forwards;
        opacity: 0;
    }

    .hoveruse{
        height: 100%;
        width: 23px;
    }

    .hoveruse:hover .line{
    animation: fadeOut 0.2 ease forwards;
    }

    .line {
        width: 23px;
        transition: height 0.5s ease;
        border-radius: 5px;
        bottom: 0;
        background: linear-gradient(180deg, rgb(13, 202, 240),  rgb(0, 255, 136));
        background-size: 200%, 200%;
    }
   
    .line:hover {
    animation: fadeOut 0.2 ease forwards;
    }

    .line1 {
        opacity: 0;
        animation: line-grow 1s ease alternate 10, fadeIn 1s forwards;
        height: 25px;
    }
    .line2 {
        opacity: 0;
        animation: line-grow 1s 0.2s ease alternate 10.1, fadeIn 1s 0.2s forwards;
    height: 45px;
    }
    .line3 {
        opacity: 0;
        animation: line-grow 1s 0.4s ease alternate 10.155, fadeIn 1s 0.4s forwards;
    height: 65px;
    }
    .line4 {
        opacity: 0;
        animation: line-grow 1s 0.6s ease alternate 10.178, fadeIn 1s 0.6s forwards;
    height: 85px;
    }
    .line5 {
        opacity: 0;
        animation: line-grow 1s 0.8s ease alternate 10.2, fadeIn 1s 0.8s forwards;
    height: 105px;
    }
    .line6 {
        opacity: 0;
        animation: line-grow 1s 1s ease alternate 10.21, fadeIn 1s 1s forwards;
    height: 125px;
    }
    .line7 {
        opacity: 0;
        animation: line-grow 1s 1.2s ease alternate 10.22, fadeIn 1s 1.2s forwards;
    height: 145px;
    }
    .line8 {
        opacity: 0;
        animation: line-grow 1s 1.4s ease alternate 10.23, fadeIn 1s 1.4s forwards;
    height: 165px;
    }
    .line9 {
        opacity: 0;
        animation: line-grow 1s 1.2s ease alternate 10.22, fadeIn 1s 1.2s forwards;
    height: 145px;
    }
    .line10 {
        opacity: 0;
        animation: line-grow 1s 1s ease alternate 10.21, fadeIn 1s 1s forwards;
    height: 125px;
    }
    .line11 {
        opacity: 0;
        animation: line-grow 1s 0.8s ease alternate 10.2, fadeIn 1s 0.8s forwards;
    height: 105px;
    }
    .line12 {
        opacity: 0;
        animation: line-grow 1s 0.6s ease alternate 10.178, fadeIn 1s 0.6s forwards;
    height: 85px;
    }
    .line13 {
        opacity: 0;
        animation: line-grow 1s 0.4s ease alternate 10.155, fadeIn 1s 0.4s forwards;
    height: 65px;
    }
    .line14 {
        opacity: 0;
        animation: line-grow 1s 0.2s ease alternate 10.1, fadeIn 1s 0.2s forwards;
    height: 45px;
    }
    .line15 {
        opacity: 0;
        animation: line-grow 1s ease alternate 10, fadeIn 1s forwards;
    height: 25px;
    }
    .line16 {
        opacity: 0;
        animation: line-grow 1s ease alternate 10, fadeIn 1s forwards;
    height: 25px;
    }
    .line17 {
        opacity: 0;
        animation: line-grow 1s 0.2s ease alternate 10.1, fadeIn 1s 0.2s forwards;
    height: 45px;
    }
    .line18 {
        opacity: 0;
        animation: line-grow 1s 0.4s ease alternate 10.155, fadeIn 1s 0.4s forwards;
    height: 65px;
    }
    .line19 {
        opacity: 0;
        animation: line-grow 1s 0.6s ease alternate 10.178, fadeIn 1s 0.6s forwards;
    height: 85px;
    }
    .line20 {
        opacity: 0;
        animation: line-grow 1s 0.8s ease alternate 10.2, fadeIn 1s 0.8s forwards;
    height: 105px;
    }
    .line21 {
        opacity: 0;
        animation: line-grow 1s 1s ease alternate 10.21, fadeIn 1s 1s forwards;
    height: 125px;
    }
    .line22 {
        opacity: 0;
        animation: line-grow 1s 1.2s ease alternate 10.22, fadeIn 1s  1.2s forwards;
    height: 145px;
    }
    .line23 {
        opacity: 0;
        animation: line-grow 1s 1.4s ease alternate 10.23, fadeIn 1s  1.4s forwards;
    height: 165px;
    }
    .line24 {
        opacity: 0;
        animation: line-grow 1s 1.2s ease alternate 10.22, fadeIn 1s  1.2s forwards;
    height: 145px;
    }
    .line25 {
        opacity: 0;
        animation: line-grow 1s 1s ease alternate 10.21, fadeIn 1s  1s forwards;
    height: 125px;
    }
    .line26 {
        opacity: 0;
        animation: line-grow 1s 0.8s ease alternate 10.2, fadeIn 1s 0.8s forwards;
    height: 105px;
    }
    .line27 {
        opacity: 0;
        animation: line-grow 1s 0.6s ease alternate 10.178, fadeIn 1s  0.6s forwards;
    height: 85px;
    }
    .line28 {
        opacity: 0;
        animation: line-grow 1s 0.4s ease alternate 10.155, fadeIn 1s  0.4s forwards;
    height: 65px;
    }
    .line29 {
        opacity: 0;
        animation: line-grow 1s 0.2s ease alternate 10.1, fadeIn 1s 0.2s forwards;
    height: 45px;
    }
    .line30 {
        opacity: 0;
        animation: line-grow 1s ease alternate 10, fadeIn 1s  forwards;
    height: 25px;
    }

    /* Keyframes */

    @keyframes fadeOut {
        0%{opacity: 1;}
        100%{opacity: 0;}
    }

    @keyframes line-grow {
    0% { height: 15px;
;    background: linear-gradient(180deg,  rgb(0, 255, 136), rgb(13, 202, 240))
    }
    100% { height: 80%;
    background: linear-gradient(180deg, rgb(13, 202, 240),  rgb(0, 255, 136))
    }
    }

    @keyframes slideloader {
  0%{ transform: translateX(50%);}
  50%{ transform: translateX(50%);}
  100% { transform: translateX(0%);}
}

    @keyframes shrink-line {
  0%{ height: 0%;}
  100%{ height: 100px;}
}