    .loader {
        height: 100%;
        animation: slideloader 4s forwards, fadeIn 2s forwards;
        opacity: 0;
    }

    .hoveruse{
        height: 80%;
        width: 3.1%;
    }

    .hoveruse:hover .line{
    animation: fadeOut 0.2 ease forwards;
    }

    .line {
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(130deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
        background-size: 500%, 500%;
    }
   
    .line:hover {
    animation: fadeOut 0.2 ease forwards;
    }

    .line1 {
        opacity: 0;
        animation: line-grow 1s ease alternate 10, fadeIn 1s forwards, lineGradient 5s alternate infinite;
        height: 10%;
    }
    .line2 {
        opacity: 0;
        animation: line-grow 1s 0.2s ease alternate 10.139, fadeIn 1s 0.2s forwards, lineGradient 5s alternate infinite;
    height: 20%;
    }
    .line3 {
        opacity: 0;
        animation: line-grow 1s 0.4s ease alternate 10.17, fadeIn 1s 0.4s forwards, lineGradient 5s alternate infinite;
    height: 30%;
    }
    .line4 {
        opacity: 0;
        animation: line-grow 1s 0.6s ease alternate 10.265, fadeIn 1s 0.6s forwards, lineGradient 5s alternate infinite;
    height: 40%;
    }
    .line5 {
        opacity: 0;
        animation: line-grow 1s 0.8s ease alternate 10.32, fadeIn 1s 0.8s forwards, lineGradient 5s alternate infinite;
    height: 50%;
    }
    .line6 {
        opacity: 0;
        animation: line-grow 1s 1s ease alternate 10.4, fadeIn 1s 1s forwards, lineGradient 5s alternate infinite;
    height: 60%;
    }
    .line7 {
        opacity: 0;
        animation: line-grow 1s 1.2s ease alternate 10.47, fadeIn 1s 1.2s forwards, lineGradient 5s alternate infinite;
    height: 70%;
    }
    .line8 {
        opacity: 0;
        animation: line-grow 1s 1.4s ease alternate 10.54, fadeIn 1s 1.4s forwards, lineGradient 5s alternate infinite;
    height: 80%;
    }
    .line9 {
        opacity: 0;
        animation: line-grow 1s 1.2s ease alternate 10.47, fadeIn 1s 1.2s forwards, lineGradient 5s alternate infinite;
    height: 70%;
    }
    .line10 {
        opacity: 0;
        animation: line-grow 1s 1s ease alternate 10.4, fadeIn 1s 1s forwards, lineGradient 5s alternate infinite;
    height: 60%;
    }
    .line11 {
        opacity: 0;
        animation: line-grow 1s 0.8s ease alternate 10.32, fadeIn 1s 0.8s forwards, lineGradient 5s alternate infinite;
    height: 50%;
    }
    .line12 {
        opacity: 0;
        animation: line-grow 1s 0.6s ease alternate 10.265, fadeIn 1s 0.6s forwards, lineGradient 5s alternate infinite;
    height: 40%;
    }
    .line13 {
        opacity: 0;
        animation: line-grow 1s 0.4s ease alternate 10.17, fadeIn 1s 0.4s forwards, lineGradient 5s alternate infinite;
    height: 30%;
    }
    .line14 {
        opacity: 0;
        animation: line-grow 1s 0.2s ease alternate 10.139, fadeIn 1s 0.2s forwards, lineGradient 5s alternate infinite;
    height: 20%;
    }
    .line15 {
        opacity: 0;
        animation: line-grow 1s ease alternate 10, fadeIn 1s forwards, lineGradient 5s alternate infinite;
    height: 10%;
    }
    .line16 {
        opacity: 0;
        animation: line-grow 1s ease alternate 10, fadeIn 1s forwards, lineGradient 5s alternate infinite;
    height: 10%;
    }
    .line17 {
        opacity: 0;
        animation: line-grow 1s 0.2s ease alternate 10.139, fadeIn 1s 0.2s forwards, lineGradient 5s alternate infinite;
    height: 20%;
    }
    .line18 {
        opacity: 0;
        animation: line-grow 1s 0.4s ease alternate 10.17, fadeIn 1s 0.4s forwards, lineGradient 5s alternate infinite;
    height: 30%;
    }
    .line19 {
        opacity: 0;
        animation: line-grow 1s 0.6s ease alternate 10.265, fadeIn 1s 0.6s forwards, lineGradient 5s alternate infinite;
    height: 40%
    }
    .line20 {
        opacity: 0;
        animation: line-grow 1s 0.8s ease alternate 10.32, fadeIn 1s 0.8s forwards, lineGradient 5s alternate infinite;
    height: 50%;
    }
    .line21 {
        opacity: 0;
        animation: line-grow 1s 1s ease alternate 10.4, fadeIn 1s 1s forwards, lineGradient 5s alternate infinite;
    height: 60%;
    }
    .line22 {
        opacity: 0;
        animation: line-grow 1s 1.2s ease alternate 10.47, fadeIn 1s  1.2s forwards, lineGradient 5s alternate infinite;
    height: 70%;
    }
    .line23 {
        opacity: 0;
        animation: line-grow 1s 1.4s ease alternate 10.54, fadeIn 1s  1.4s forwards, lineGradient 5s alternate infinite;
    height: 80%;
    }
    .line24 {
        opacity: 0;
        animation: line-grow 1s 1.2s ease alternate 10.47, fadeIn 1s  1.2s forwards, lineGradient 5s alternate infinite;
    height: 70%;
    }
    .line25 {
        opacity: 0;
        animation: line-grow 1s 1s ease alternate 10.4, fadeIn 1s  1s forwards, lineGradient 5s alternate infinite;
    height: 60%;
    }
    .line26 {
        opacity: 0;
        animation: line-grow 1s 0.8s ease alternate 10.32, fadeIn 1s 0.8s forwards, lineGradient 5s alternate infinite;
    height: 50%;
    }
    .line27 {
        opacity: 0;
        animation: line-grow 1s 0.6s ease alternate 10.265, fadeIn 1s  0.6s forwards, lineGradient 5s alternate infinite;
    height: 40%;
    }
    .line28 {
        opacity: 0;
        animation: line-grow 1s 0.4s ease alternate 10.17, fadeIn 1s  0.4s forwards, lineGradient 5s alternate infinite;
    height: 30%;
    }
    .line29 {
        opacity: 0;
        animation: line-grow 1s 0.2s ease alternate 10.139, fadeIn 1s 0.2s forwards, lineGradient 5s alternate infinite;
    height: 20%;
    }
    .line30 {
        opacity: 0;
        animation: line-grow 1s ease alternate 10, fadeIn 1s  forwards, lineGradient 5s alternate infinite;;
    height: 10%;
    }

    /* Keyframes */

    @keyframes fadeOut {
        0%{opacity: 1;}
        100%{opacity: 0;}
    }

    @keyframes lineGradient{
    0%{background-position:10% 0%}
    50%{background-position:90% 100%}
    100%{background-position:10% 0%}
    }

    @keyframes line-grow {
    0% { height: 10%;}
    100% { height: 90%;}
    }

    @keyframes slideloader {
  0%{ transform: translateX(50%);}
  50%{ transform: translateX(50%);}
  100% { transform: translateX(0%);}
}

    @keyframes shrink-line {
  0%{ height: 0%;}
  100%{ height: 100%;}
}