.memcard {
    animation: glow 5s ease alternate infinite;
    border-radius: 15px;
    min-height: 570px;
    max-height: 570px;
    max-width: 100%;
    overflow: hidden;
    background: rgba(33, 37, 41,0.95);
}

.memberpic {
    max-height: 200px;
    max-width: 200px;
    overflow-clip-margin: unset;
    transition: 1s 1s ease;
}
.memberpic:hover{
    max-height: 500px;
    max-width: 500px;
}

.memberpic:hover, .memcard{
height: 120%;
width: 120%;
transition: 1s ease;
}

.teamname{
    animation: gradient-shift 5s infinite, fadeIn 2s forwards;
    background: linear-gradient(270deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
    background-size: 200%, 200%;
    background-clip: text;
    color: transparent;
    user-select: none;
}

.linksteam svg{
background-image: linear-gradient(90deg, rgb(13, 202, 240), rgb(0, 255, 136), rgb(13, 202, 240));
color: rgb(33, 37, 41);
background-size: 200%, 200%;
font-size: 25px;
transition: 1s ease;
animation: gradient-shift 5s infinite linear;
}
.linksteam svg:hover{
font-size: 35px;
background-size: 200%, 200%;
transition: 1s ease;
animation: gradient-shift 5s infinite linear;
}

/* Keyframes */

@keyframes glow {
    0% { box-shadow: 10px -10px 35px rgb(0, 255, 255);}
    25% { box-shadow: -10px -10px 35px rgb(0, 255, 191);}
    50% { box-shadow: -10px 10px 35px rgb(0, 255, 136);}
    75% { box-shadow: 10px 10px 35px rgb(0, 255, 191);}
    100% { box-shadow: 10px -10px 35px rgb(0, 255, 255);}
        }
