.navbar{
    animation: moveintop 2.5s 3s forwards;
    transform: translate(0px, -500px);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1030;
    background-color: var(--bg-color);
    box-shadow: 2px 0px 15px 5px black;
}

.navbar-text{
  font-size: 1.3rem;
  background: linear-gradient(90deg, var(--color-1), var(--color-2), var(--color-1));
  background-clip: text;
  background-size: 200%, 200%;
  transition: 1s ease;
  color: transparent;
  animation: gradient-shift 5s infinite linear;
  &:hover{
  background: linear-gradient(90deg, var(--color-2), var(--color-1), var(--color-2));
  transition: 1.5s ease;
  background-clip: text;
  background-size: 200%, 200%;
  color: transparent;
  animation: gradient-shift 5s infinite linear;
  font-size: x-large;
}
}

.navbar .soundstagram-icon {
  transition: 1s ease;
  height: 45px;
  width: 50px;
  &:hover{
  transition: 1s ease;
  height: 55px;
  width: 65px;
}
}

.icon-navbar{
  background-image: linear-gradient(90deg, var(--color-1), var(--color-2), var(--color-1));
  color: var(--bg-color);
  background-size: 200%, 200%;
  font-size: 25px;
  transition: 1s;
  animation: gradient-shift 5s infinite linear;
}

.icon-navbar:hover{
  font-size: 35px;
  background-size: 200%, 200%;
  transition: 1s;
  animation: gradient-shift 5s infinite linear;
}

.search-function:hover .search-navbar-bar {
  width: 500px;
  opacity: 1;
  transition: 1.5s ease;
}

.search-navbar-bar {
  border-radius: 30px;
  background: transparent;
  opacity: 0;
  border: 1px solid var(--color-3);
  max-height: 25px;
  width: 0px;
  transition: 0.75s 3s ease;
  color: #fff;
  text-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 2px 2px black;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
  display: none; 
}

.search-navbar-bar::placeholder{
  color: #fff;
  text-shadow: 5px 5px 5px black;
}

.search-navbar-bar:not(:placeholder-shown) {
  width: 500px;
  opacity: 1;
}

.dropdown-menu{
  pointer-events: none;
  background-color: var(--bg-color);
  transform: translateX(10%);
  box-shadow: 10px 10px 20px 1px black;
  border-top: 1px solid var(--accent);
}

.profile {
  pointer-events: all;
  border: 1px solid rgba(0,0,0,0);
}

.profile:hover .dropdown-menu, 
.profile .dropdown-menu:hover{
  animation: slideleft 2s forwards;
  pointer-events: all;
}

.profile:not(:hover):not(.dropdown-menu:hover) .dropdown-menu {
  animation: slideright 2s 2s forwards;
}

.dropdown-menu .dropdown-item{
  background: linear-gradient(90deg, var(--color-1), var(--color-2), var(--color-1));
  background-clip: text;
  background-size: 200%, 200%;
  transition: 1s ease;
  font-size: large;
  color: transparent;
  animation: gradient-shift 5s infinite linear;
  &:hover{
  background: linear-gradient(90deg,var(--color-2), var(--color-1), var(--color-2));
  transition: 1.5s ease;
  background-clip: text;
  background-size: 200%, 200%;
  color: transparent;
  animation: gradient-shift 5s infinite linear;
  font-size: x-large;
}
}

.dropdown-item-red{
  border: 0;
  background: linear-gradient(90deg, var(--color-4), var(--color-5), var(--color-4));
  background-clip: text;
  background-size: 200%, 200%;
  transition: 1s ease;
  font-size: large;
  color: transparent;
  animation: gradient-shift 5s infinite linear;
  &:hover{
  background: linear-gradient(90deg,var(--color-5), var(--color-4), var(--color-5));
  transition: 1.5s ease;
  background-clip: text;
  background-size: 200%, 200%;
  color: transparent;
  animation: gradient-shift 5s infinite linear;
  font-size: x-large;
}
}

/* Keyframes */

@keyframes moveintop {
  0% { transform: translate(0px, -500px);}
  50% { transform: translate(0px, -50px);}
  75% { transform: translate(0px, -20px);}
  100% { transform: translate(0, 0);}
}

@keyframes slideleft {
  from { transform: translateX(150%);}
  to { transform: translateX(10%);}
}

@keyframes slideright {
  from { transform: translateX(10%);}
  to { transform: translateX(150%);}
}
