.reguserim{
    height: 500px;
    width: 500px;
    cursor: pointer;
    transition:1s ease;
    opacity: 0;
    box-shadow: 2px 2px 5px 5px black;
    border-top: 2px solid var(--accent);
    animation: fadeIn 3s 0.5s forwards, rotateimg 3s forwards, clickin 0.5s 2.7s 1;
}

.reguserim:hover{
    transition: 1s ease;
    height: 450px;
    width: 450px;
}

.get-started{
    animation: gradient-shift 5s infinite, fadeIn 2s forwards;
    background: linear-gradient(270deg, var(--color-1),  var(--color-2), var(--color-1));
    background-size: 200%, 200%;
    background-clip: text;
    color: transparent;
    pointer-events: none;
    user-select: none;
    font-size: clamp(3em, 5vw, 5vw);
}

.register-form{
    width: clamp(500px,50%,50%);
    border-radius:5px;
    color: white;
    box-shadow: 1px 1px 3px 2px black;
    border-top: 1px solid var(--accent);
    background: var(--bg-color);
    opacity: 0;
    animation: regslidein 2s 2s forwards, fadeIn 2s 2s forwards;
}

.register-input {
    border-radius: 5px;
    background: var(--bg-color);
    border: 0px;
    border-top: 1px solid var(--accent);
    box-shadow: 1px 1px 4px 0.01px var(--color-3);
    padding: 2%;
    color: white;
}

.register-input::placeholder {
    color: white;
    text-shadow: 5px 5px 5px black;
}


.register-btn{
    border: 0px;
    border-radius: 5px;
    background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
    background-size: 300%, 300%;
    animation: gradient-shift 3s ease infinite;
    transition: 1s ease;
    color: var(--bg-color);
    width: 50%;
}
.register-btn:active {
    border: 1px solid var(--color-3);
    border-radius: 5px;
    background: linear-gradient(270deg, var(--color-1), var(--color-2), var(--color-1));
    background-clip: text;
    background-size: 200%, 200%;
    color: transparent;
}
.register-btn:hover {
    transition: 1s ease;
    font-size: x-large;
}

@keyframes regslidein {
    0%{transform: translateX(150%);}
    100%{transform: translate(0%);}
}

@keyframes rotateimg {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

@keyframes clickin {
    0%{height: 500px; width: 500px;}
    50%{height: 490px; width: 490px;}
    100%{height: 500px; width: 500px;}
}