.feed-sidebar{
  opacity: 0;
  transform: translateX(-150%);
  position: sticky;
  top: 100px ;
  animation: fadeIn 2s 1s forwards, slideforwards 2s 1s forwards;
}

.all-info-user{
    box-shadow: 40px 40px 2px 0px rgba(33, 37, 41, 0.568);
    border-radius: 10px;
    border-top: 1px solid var(--accent);
    border-bottom: 2px solid rgba(0,0,0,0.3);
    border-right: 2px solid rgba(0,0,0,0.3);
    background: var(--bg-color);
}

.sidebar_profile_pic {
    height: 150px;
    width: 150px;
    box-shadow: 2px 2px 5px 5px black;
    border-top: 2px solid var(--accent);
    overflow-clip-margin: unset;
}

.spotify_link {
  color: var(--color-3);
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.break-feed{
  color: var(--color-3);
}

.role-pill {
  border-top: 1px solid var(--accent);
  box-shadow:1px 1px 1px 1px black;
  border-radius: 20px;
}

